{% extends 'dashboard/main.html' %}

{% block content %}
    <div class="content">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Все акты</h4>
                <p class="category">Здесь вы можете посмотреть акты в работе и скачать исходные документы</p>
              </div>
              <div class="content table-responsive table-full-width">
<table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Заявка</th>
                      <th class="text-center">Город</th>
                      <th class="text-center">Заказчик</th>
                      <th class="text-center">Вес</th>
                      <th class="text-center">Исполнитель</th>
                      <th>Документ/Ответ</th>
                      <th>Редактировать/Завершить</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in acts %}
                  <tr>
                    <td class="text-center">№ {{ i.requisition.number }}<br>от {{ i.requisition.receive_date }}</td>
                    <td class="text-center">{{ i.requisition.city }}</td>
                    <td class="text-center">{{ i.initiator_name }}<br><br>{{ i.initiator_representative }}<br>{{ i.initiator_phone }}</td>
                    <td class="text-left">Антены:  {{ i.requisition.antennas_weight }} кг<br>Телеком: {{ i.requisition.telekom_weight }} кг<br>АКБ:     {{ i.requisition.akb_weight }} кг<br>Железо:  {{ i.requisition.iron_weight }} кг<br>Кабель:  {{ i.requisition.cable_weight }} кг<br> 
                    </td>
                    <td class="text-center">
                      {% if i.performer.id is None %}
                        <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 text-center">
                          <input type="hidden" name="requisition" class="form-control border-input" required="" id="id_requisition" value="{{ i.requisition.id }}">
                          {{ form.performer }}
                          </div>
                          <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-sm btn-warning btn-icon"><i class="fa fa-handshake-o"></i></button>
                          </div>
                        </div>
                        </form>
                      {% else %}
                        {{ i.performer }}<br><br>
                        {{ i.performer.user.last_name }} {{ i.performer.user.first_name }}<br>
                        {{ i.performer.representative }}<br>
                        {{ i.performer.phone }}
                      {% endif %}</td><!--назначить исполнителя-->
                    <td class="text-center">
                      {% if i.requisition.document.url %}
                      <div class="col-xs-3 text-center">
                        <a class="btn btn-sm btn-info btn-icon" href="{{ i.requisition.document.url }}" download><i class="fa fa-file-text"></i></a>
                      </div>
                      {% endif %}<!-- скачать акт-->
                      {% if i.answer.performer_document.url %}
                      <div class="col-xs-3 text-center">
                        <a class="btn btn-sm btn-danger btn-icon" href="{{ i.answer.performer_document.url }}" download><i class="fa fa-file-text"></i></a>
                      </div>
                      {% endif %}</td><!--скачать ответ-->
                    {% if i.acceptor %}<td class="text-center">Завершил:<br>{{ i.acceptor.last_name }}<br>{{ i.acceptor.first_name }}</td>{% else %}
                    <td class="text-center">
                      {% if i.answer %}
                      <div class="col-xs-3 text-center">
                        <a class="btn btn-sm btn-danger btn-icon" href="{% url 'dashboard:decline_req_answ' i.id %}"><i class="fa fa-times"></i></a>
                      </div>
                      {% endif %}
                      {% if i.answer %}
                      <div class="col-xs-3 text-center">
                        <a class="btn btn-sm btn-success btn-icon" href="{% url 'dashboard:accept_req_answ' i.id %}"><i class="fa fa-check-square-o"></i></a>
                      </div>
                      {% endif %}
                      <div class="col-xs-3 text-center">
                        <a class="btn btn-sm btn-warning btn-icon" href="{% url 'dashboard:act_edit' i.id %}"><i class="fa fa-wrench"></i></a>
                      </div>
                    </td>
                    {% endif %}
                    <!--завершить-->
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}     
